#button {
  background-color: purple;
}
.container {
  width: 400px;
}
#card {
  margin: 10px;
}

* {
  box-sizing: border-box;
}

.card-img-top {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

#button1,
#button2 {
  background-color: purple;
}
#button1 {
  margin-right: 5px;
}
#button2 {
  margin-left: 5px;
}
