<!-- MŰKÖDŐ CART UGYANAZON AZ OLDALON RAVI ÁLTAL -->
<div class="cartitem">
  <div class="container">
    <div class="row">
      <div class="col">
        {{ cartItem.name }}
      </div>
      <div class="col">
        <img [src]="cartItem.imageUrl" class="card-img-top" alt="..." />
      </div>
      <div class="col-5">
        {{ cartItem.description }}
      </div>
      <div class="col">{{ cartItem.price | currency: "EUR" }}</div>
      <div class="col">{{ cartItem.qty }}</div>
      <div>
        <button (click)="removeItem(item)" class="btn btn-primary">
          Remove from cart
        </button>
      </div>
    </div>
  </div>
</div>
<!-- (click)="confirmationDialog() -->
